*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: Arial;
}

.nav{
    background-color: #578e5f;
}


.nav_container{
    width: 100%;
    margin: 0 auto;
    height: 70px;

    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "title img";
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

.nav_title{
    color: black;
    padding-left: 30px;
    text-transform: uppercase;
}

.nav_menu{
    grid-area: img;
    position: relative;
    z-index: 999;

    transform: var(--img1);
}

.nav_menu--second{
    transform: var(--img2);
    margin-right: 20px;
}

.nav .IMEDES {
    position: relative;
    height: 50px;
    right: 50px;
    z-index: 99;
    cursor: pointer;
    text-decoration: none;
}

.contacto{
    position: absolute;
    right: 200px;
    margin-left: 90%;
    text-decoration:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 20px;
    /* text-transform: uppercase; */
    color: black;
}

.nav_icon{
    width: 30px;
    display: block;
}

#map{
    margin-top: 5pxpx;
    height: 92vh;
    width: 100%;
    z-index: 1;
}

