.map-assets{
    position: relative;
}

.assets {
    position: fixed;
    top: 5em;
    right: 10px;
    z-index: 999;
    transition: transform 350ms;
}

/* -----------ICONOS ASSETS----------- */

.ui-base-layers {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 3em;
    right: 10px;
    color: #fff;
    background: #555555fd;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 0 4px 4px rgba(255, 255, 255, 0.2),
                inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    font-size: 2em;
    transition: transform 1.25s;
    border-style: none;
}

.ui-base-layers a{
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.7;
}

.ui-LayerControl{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 5em;
    right: 10px;
    color: #fff;
    background: #555555fd;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10002;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 0 4px 4px rgba(255, 255, 255, 0.2),
                inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    font-size: 2em;
    transition: transform 1.25s;
    border-style: none;
}

.ui-LayerControl a{
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.7;
}

.ui-legend  {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 7em;
    right: 10px;
    color: #fff;
    background: #555555fd;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 0 4px 4px rgba(255, 255, 255, 0.2),
                inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    font-size: 2em;
    transition: transform 1.25s;
    border-style: none;
}

.ui-legend a {
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.7;
}

.ui-expand-map{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 9em;
    right: 10px;
    color: #fff;
    background: #555555fd;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 0 4px 4px rgba(255, 255, 255, 0.2),
                inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    font-size: 2em;
    transition: transform 1.25s;
    border-style: none;
}

.ui-expand-map a{
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.7;
}

/* Ajusta las propiedades cuando el icono no está activo */
.ui-legend:not(.active), .ui-expand-map:not(.active), .ui-base-layers:not(.active) .ui-LayerControl:not(.active){
    position: fixed;
    bottom: 20px;
    right: 50px;
    transform: translate(0, 0) scale(1);
    transition: all 0.5s ease;
}

.hidden {
    transform: translate(-150px, 500px) scale(0);
}

/* ---------------ASSET ACTIVO BASE LAYERS--------------- */
.popup_base.popup_layers{
    display: hide;
    position: relative;
    padding-top: 1em;
    height: 400px;
}

#base-layers-popup {
    display: none;
}

.ui.header {
    position: relative;
    color: #000000DE;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 7px 0 15px;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 8em;
}

.close-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px 0 0px;
    border: none;
    scale: 1.7;
    cursor: pointer;
}

.container-base-layers {
    position: absolute;
    display: grid;
    flex-direction: row;
    border: 2px solid #000; /* Agrega un borde alrededor del cuadrado */
    border-radius: 10px;
    padding: 10px; /* Añade relleno para separar el contenido del borde */
    background-color: #f0f0f0; /* Agrega un fondo de color al cuadrado */
    right: 5rem; /* Separar el contenedor del limite derecho del mapa (para que no sobresalga */
    top: 5rem;
}

.group-name.flex .group-name {
    position: relative;
    display: grid;
    text-align: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.popup-title1 {
    font-size: 15px; /* Tamaño de fuente más grande */
    color: black; /* Color de texto rojo */
    font-weight: bold; /* Texto en negrita (opcional) */
    text-decoration: underline;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
}

.popup-title2 {
    font-size: 13px; /* Tamaño de fuente más grande */
    color: grey; /* Color de texto rojo */
    font-weight: bold; /* Texto en negrita (opcional) */
    padding-top: 10px;
}

.popup_base_flex.mb-10 {
    display: flex;
    justify-content: space-around; /* Añade espaciado horizontal entre elementos */
}

.popup_base_item.toggle_layer {
    position: relative;
    display: flex; /* Utiliza flexbox para alinear imágenes y texto */
    flex-direction: column; /* Apila las imágenes y el texto verticalmente */
    align-items: center; /* Centra horizontalmente el contenido */
    text-align: center; /* Centra el texto horizontalmente */
    width: 5em;
}

.popup_base_item.toggle_layer img {
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid grey;
    transform: scale(0.7); /* Corrige la propiedad scale (no scale) */
}

.popup_base_item.toggle_layer span {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.65rem;
    white-space: wrap; /* Para que el texto se divida en múltiples líneas */
    display: -webkit-box;
}

.group-name.flex {
    position: relative;
    display: grid;
    text-align: center;
    justify-content: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.active-option {
    color: black;
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
                inset 0 4px 4px rgba(255, 255, 255, 1),
                inset 0 -4px 4px rgba(255, 255, 255, 1);
}

/* Estilo para las capas activas en el BASE LAYER */
.active-layer {
    border: 2px solid red !important;
    color: red !important;
}


/*--------------------- ASSET CONTOL LAYER ----------------*/

.LayerControl_popup {
    display: none;
    flex-direction: column;
    position: relative;
    flex-direction: row;
    border: 2px solid #444343; /* Agrega un borde alrededor del cuadrado */
    border-radius: 10px;
    padding: 80px; /* Añade relleno para separar el contenido del borde */
    background-color: #000000; /* Agrega un fondo de color al cuadrado */
    right: 5rem; /* Separar el contenedor del limite derecho del mapa (para que no sobresalga */
    top: 9rem;
    transition: height 0.3s; /* Animación suave de la altura */
    max-height: auto; /* Establecemos una altura máxima para evitar que se haga demasiado alto */
    overflow: hidden;

    /* Agregar una barra de desplazamiento vertical cuando sea necesario */
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #333 #000;
}

        /* Estilo de la pista (background) */
        .LayerControl_popup::-webkit-scrollbar {
            width: 10px; /* Anchura del scrollbar en navegadores basados en Webkit, como Chrome y Safari */
        }

        /* Estilo del mango (scroll thumb) */
        .LayerControl_popup::-webkit-scrollbar-thumb {
            background: #f7f6f6; /* Color del mango */
            border-radius: 20px;
        }

        /* Estilo del mango cuando se desplaza */
        .LayerControl_popup::-webkit-scrollbar-thumb:hover {
            background: #555; /* Color del mango al pasar el mouse sobre él */
            border-radius: 20px;
        }

.dropdown_span {
    width: 100px; /* Ancho fijo para el elemento que contiene el texto */
}

.dropdown_link{
    color: rgb(184, 187, 191);
    padding-bottom: 2px;
    text-decoration: none;
    right: 5rem;
    left: -95px;
    top: -6em;
    width: 265px;
    
    display: flex;
    align-items: center;
    gap: .6rem;

    position: relative;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
}

.dropdown_link span {
    position: relative;
    left: 40px;
    height: 20px;
    scale: 1.4;
}
.dropdown_icon {
    position: relative;
    padding: 0px 0px 5px 0px;
    left: 30px;
    scale: 1;
}

.dropdown_arrow {
    position: relative;
    margin-left: 0;
    left: 75px;
    top: -5px;
    right: -10px;    
}

.dropdown_sub{
    position: relative;
    display: none;
    overflow: hidden;
    width: 200px;
    height: 120px;
    left: -80px;
    top: -70px;
    padding: 20px 0 0px 0;
}

.dropdown_sub.visible {
    display: block;
}

.dropdown_li{
    width: 80%;
    list-style: none;
    margin-left: auto;
}

.dropdown_anchor{
    color: rgb(184, 187, 191);
    padding: 1em .7em;
    text-decoration: none;
    /* background-color: rgb(233, 32, 32); */
    top: -10px;
    left: -20px;
    width: 230px;
    height: 10px;

    display: flex;
    align-items: center;
    gap: .6rem;

    position: relative;
    border-radius: 5px;
}

.dropdown_anchor span {
    position: relative;
    padding-left: 40px;
    top: -4px;
    scale: 1.2;

}

.dropdown_sub_check{
    position: absolute;
    width: 100%;
    height: 30%;
    margin-left: -65%;
    /* opacity: 0;  */
    /*Para esconder el checkbox*/
    cursor: pointer;
}

/* -------------------- CHECK BUTTON ---------------------*/
/* Check button fondo*/
.checktoggle{
    height: 14px;
    width: 29px;
    right: 180px;
    top: -3px;
    background:#222;
    appearance: none;
    border-radius: 160px;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
                inset 0 8px 8px rgba(0, 0, 0, 0.1),
                inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    outline: none;
    cursor: pointer;;
    transition: 0.5s;
}

.dropdown_anchor .checktoggle{
    height: 10px;
    width: 26px;
    right: 120px;
}

/* Botón activado (negro) */
.checktoggle::before{
    height: 14px;
    width: 14px;
    position: absolute;
    top: 0;
    left: .2px;
    content: "";
    background: linear-gradient(to bottom, #444, #333);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 0 4px 4px rgba(255, 253, 253, 0.2),
                inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    transition: 0.5s;
}

.dropdown_anchor .checktoggle::before {
    height: 12px;
    width: 12px;
    left: 2px;
    top: -1px;
}

/* Fondo Toggle desactivado */
.checktoggle:checked{
    background: #c0bebe;
    box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
                inset 0 2px 8px rgba(0, 0, 0, 0.1),
                inset 0 -4px 8px rgba(0, 0, 0, 0.05);
}


/* Botón desactivado (blanco) */
.checktoggle:checked::before{
    left: 1em;
    top: 0px;
    content: "";
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
                inset 0 4px 4px rgba(255, 255, 255, 1),
                inset 0 -4px 4px rgba(255, 255, 255, 1);
}

.dropdown_anchor .checktoggle:checked::before {
    left: 15px;
    top: -1px;
    content: "";
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
                inset 0 4px 4px rgba(255, 255, 255, 1),
                inset 0 -4px 4px rgba(255, 255, 255, 1);
}

